<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/A6_Collections/src/a1_arraylistTest/C1_LastIndexOfArrayList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="a1_arraylistTest.C1_LastIndexOfArrayList"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="A6_Collections"/>
</launchConfiguration>
